<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
      <h2>About</h2>
      <p>An old silent pond</p>

      <p>A frog jumps into the pond—</p>

      <p>Splash! Silence again.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
